@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
}

h3 {
    text-align: center;
    margin: 0.5rem;
    font-size: 2rem;
    color: hsla(279, 60%, 33%, 1.00);
    text-shadow: 1px 1px 1px hsla(0, 1%, 69%, 1.00);
    font-weight: 600;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: oklch(20% 0.1 300);
}

.square {
    width: 50px;
    height: 50px;
}

.dark {
    background-color: #748DAE;
}

.light {
    background-color: #9ECAD6;
}

.piece {
    transform: scale(0.8);
}

#queen {
    transform: scale(1.6);
    margin: 21px 0 0 6px;
}

.white-piece {
    fill: rgba(247, 251, 255, 1);
}

.black-piece {
    fill: rgba(20, 19, 72, 1);
}